h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    border-color: rgb(209, 74, 12);
    border-radius: 20px;
    color: rgb(197, 30, 7);
    border: red 1px solid;

}

p {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    sans-serif;
    margin: 30px;
    font-weight: 400px bolder;
    padding: ;

}

body {
    background-color: rgb(235, 197, 197);
}